* {
  /* reset default browser styles */
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* content is auto-sized, width/height incudes margins & padding */
}

/* chrome only */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  color: #5e6063;
  line-height: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

img.fit-image {
  /* all images fit their containers, instead of bleeding over */
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.page {
  /* the root container of all elements */
  display: flex;
  flex-direction: column; /* stack the child elements vertically */
  align-items: center; /* center child elements horizontally */

  width: 900px;
  margin-left: auto; /* center horizontally in the browser window */
  margin-right: auto;
  margin-bottom: 20px;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 20px 20px;
}

.logo {
  display: flex;
  max-width: 200px;
  height: auto;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.link-item {
  margin-left: 20px;
}

.sign-up-button {
  border-radius: 6px;
  overflow: hidden;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 1px;

  background-color: #007aff;
  color: white;
}

.album-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 60%;
}

.album-text {
  margin-bottom: 18px;
}

.album-cover-image {
  border-width: 1px;
  border-style: solid;
  border-color: #5e6063;
  border-radius: 6px;
  overflow: hidden;
}

.album-links {
  display: flex;
  flex-direction: column; /* stack the child elements vertically */
  align-items: center; /* left-align child elements horizontally */

  width: 100%;

  margin-top: 8px;
  margin-bottom: 8px;
}

.album-link-vertical-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* vertical-align: middle; */
  /* margin-top: 10px; */
  /* margin-bottom: 8px; */
}

.album-link-title {
  line-height: 2em;
  margin-bottom: 4px;
}

.album-link {
  margin-left: 9px;
  margin-right: 9px;
}

.album-links-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  width: 100%;
  height: 500px;

  margin-bottom: 18px;

  border-radius: 6px;
  overflow: hidden;

  background-image: url("images/Taxi-Driver-Hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
}

.hero-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.hero-text {
  display: flex;
  justify-content: center;

  width: 50%;
  margin-bottom: 20px;
}

.hero-links {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 50%;
  padding: 0 40px;
  margin-bottom: 20px;
}

.section-title {
  display: flex;
  justify-content: center;

  margin-top: 40px;
  margin-bottom: 30px;
}

.band-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.biographies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.band-member {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin-bottom: 20px;
}

.bio-pic {
  display: flex;

  min-width: 200px;
  width: 200px;
  max-width: 200px;
  height: auto;

  border-radius: 6px;
  overflow: hidden;
}

.bio-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 20px;
}

.bio-title {
  padding-bottom: 20px;
}

/* .bio-text {
    display: flex;
    padding: 20px;
} */

.singles-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.videos {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.video-row {
  display: flex;
  justify-content: space-between;

  width: 100%;
  margin: 20px;
}

.video-container {
  display: flex;
  justify-content: center;

  flex: 1;
  height: auto;
}

.video {
  flex: 1;
  position: relative;
  overflow: hidden;

  padding-bottom: 56.25%;

  height: 0;
}

.video iframe {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.video-text {
  width: 100%;

  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.links-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: center;

  width: 100%;
  padding: 20px 0;
}

.footer {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.footer .copyright {
  margin-left: 20px;
  font-style: italic;
}

.privacy-links {
  display: flex;
  justify-content: flex-start;
}

.privacy-policy {
  margin-right: 20px;
}

.privacy-hero {
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 20px;
}
