* { /* reset default browser styles */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* content is auto-sized, width/height incudes margins & padding */
}

/* chrome only */
/* html {
    scroll-behavior: smooth;
} */

body {
    font-family: "Helvetica", "Arial", sans-serif;
    color: #5e6063
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

a {
    text-decoration: none;
}

img { /* all images fit their containers, instead of bleeding over */
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.page { /* the root container of all elements */
    display: flex;
    flex-direction: column; /* stack the child elements vertically */
    align-items: center; /* center child elements horizontally */
    
    width: 900px;
    margin: 0px auto; /* center horizontally in the browser window */
}

.menu-container {
    display: flex;
    justify-content: center;
    
    width: 100%;
    padding: 20px 0;

    color: #fff;
    background-color: #5995DA;
}
  
.menu {
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    margin: 0 20px;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.links .singles {
    margin-left: 20px;
}

.band-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.biographies {
    display: flex;
    justify-content: space-between;
}

.band-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px;
}

.bio-pic {
    width: 200px;
}

.singles-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.videos {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.video-row {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.video {
    display: flex;
    width: 50%;
    height: 253px;
}

.video-text {
    width: 50%;
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: center;
    
    width: 100%;
    padding: 20px 0;
}

.footer {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.footer .copyright {
    margin-left: 20px;
    font-style: italic;
}

.v {
    display: flex;
    width: 50%;
    height: auto;
}

.flex-video {
    position: relative;
    padding-top: 25px;
    padding-bottom: 56.25%;
    height: 0;
    margin-bottom: 16px;
    overflow: hidden;
}
  
.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
    .flex-video { 
        padding-top: 0; 
    }
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    flex: 1;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.blah {
    display: flex;
    justify-content: space-between;
}

.video-x {
    display: flex;
    justify-content: center;
    width: 33%;
    height: auto;
    margin: 20px auto;
    background-color: green;
    padding: 10px;
}